@model Event
@{ ViewData["Title"] = "Create"; }

<div class="container mt-3">
    <h2>Create event section</h2>
    <form method="post" class="mt-3" enctype="multipart/form-data">
        <div class="mt-3">
            <h4>Current course image</h4>
            <img style="width:220px;height:220px;object-fit:contain" src="~/assets/img/event/@Model.Image" alt="course image" />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.ImageFile" class="form-label">Enter image</label>
            <input asp-for="@Model.ImageFile" accept="image/*" class="form-control">
            <span style="display:inline-block; margin-top:15px" class="mt-4 text text-danger" asp-validation-for="@Model.ImageFile"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Name" class="form-label">Enter Name</label>
            <input asp-for="@Model.Name" class="form-control">
            <span style="display:inline-block; margin-top:15px" class="mt-4 text text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Enter Description</label>
            <input asp-for="@Model.Description" class="form-control">
            <span style="display:inline-block; margin-top:15px" class="mt-4 text text-danger" asp-validation-for="@Model.Description"></span>
        </div>
        <div class="mt-3">
            <label asp-for="@Model.Venue" class="form-label">Enter Venue</label>
            <input asp-for="@Model.Venue" class="form-control">
            <span style="display:inline-block; margin-top:15px" class="mt-4 text text-danger" asp-validation-for="@Model.Venue"></span>
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Date" class="form-label">Enter event day</label>
            <input type="date" asp-for="@Model.Date" class="form-control">
            <span style="display:inline-block; margin-top:15px" class="mt-4 text text-danger" asp-validation-for="@Model.Date"></span>
        </div>
        <div class="mt-3">
            <label asp-for="@Model.StartDate" class="form-label">Enter start hour</label>
            <input type="time" asp-for="@Model.StartDate" class="form-control">
            <span style="display:inline-block; margin-top:15px" class="mt-4 text text-danger" asp-validation-for="@Model.StartDate"></span>
        </div>
        <div class="mt-3">
            <label asp-for="@Model.EndDate" class="form-label">Enter end hour</label>
            <input type="time" asp-for="@Model.EndDate" class="form-control">
            <span style="display:inline-block; margin-top:15px" class="mt-4 text text-danger" asp-validation-for="@Model.EndDate"></span>
        </div>
        <div class="mb-3 mt-3">
            <label asp-for="@Model.SpeakerIds" class="form-label">Select speakers</label>
            <select asp-for="@Model.SpeakerIds" class="form-select">
                @foreach (Speaker speaker in ViewBag.Speakers)
                {
                   @if (Model.EventSpeakers.FirstOrDefault(th => th.SpeakerId == speaker.Id) != null)
                   {
                   <option selected value="@speaker.Id">
                              @speaker.Name
                   </option> 
                   }
                   else
                    {
                    <option value="@speaker.Id">
                    @speaker.Name
                    </option>
                    }
                }
            </select>
            <span style="display:inline-block; margin-top:15px" class="mt-2 text text-danger" asp-validation-for="@Model.SpeakerIds"></span>
        </div>
        <div class="d-flex mt-4 mb-5">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="event" asp-action="index" class="btn btn-dark btn-icon-text mx-3">
                Go to back
            </a>
        </div>
    </form>

</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
